.array-container {
    left: 10em;
    position: absolute;
    bottom: 100px;
}

.array-bar {
    width: 10px;
    background-color: pink;
    display: inline-block;
    margin: 0 1px;
}

.footer {
    position: absolute;
    bottom: 0;
}