/* Navbar adjustments */
.navbar {
    margin-bottom: 20px;
}

/* Array container */
.array-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: fit-content;
    margin-top: 10vh;
}

/* Array bars */
.array-bar {
    background-color: pink;
    width: 1%;
    margin: 0 1px;
    display: inline-block;
    transition: height 0.3s ease;
    border-radius: 3px;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .array-bar {
        width: 2%;
    }

    .array-container {
        margin-top: 5vh;
    }
}

@media (max-width: 576px) {
    .array-bar {
        width: 3%;
    }

    .array-container {
        margin-top: 5vh;
    }
}

/* Footer */
footer {
    background-color: #4d4d4d;
    color: #cccccc;
    padding: 1em 0;
    width: 100%;
    position: absolute;
    bottom: 0;
}

footer ul {
    list-style: none;
    padding: 0;
}

footer ul li {
    display: inline-block;
    margin: 0 3em;
}

#links i {
    font-size: 2.5em;
    color: #ff6699;
}

#gh-repo a{
    text-decoration: none;
    color: #ff6699;
}

#gh-repo a:hover, #links i:hover {
    color: #f4bfd0;
    transition: color 0.3s ease;
}